/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-3xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: "MontserratVariable", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --fontFamily-serif: sans-serif, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji",
    Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-thin: 100;
  --fontWeight-normal: 400;
  --fontWeight-bold: 700;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #1e40af;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
}

/* HTML elements */

::selection {
  background-color: #e5e5e5;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  background-color: #fbfbfb;
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-normal);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-normal);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  color: rgb(64 64 64);
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-top: calc(var(--spacing-6));
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration: none;
}

input,
textarea {
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  padding: 10px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

/* Custom classes */

.underline {
  text-decoration: underline #f5f5f5;
}

.accent-color {
  color: #a3a3a3;
}

.signature {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.signature svg {
  transform: rotate(-20deg);
  margin: -30px 20px 30px 0px;
}

.inquiry-inputs {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#upload {
  color: #737373;
}

.is1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.is2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: var(--color-text-light);
  margin-top: 1rem;
}

.ins {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  gap: 1rem;
}

.inquiry-send {
  margin-top: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  background-color: #f5f5f5;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  color: rgba(0, 0, 0, 0.25);
}

.global-wrapper {
  margin: var(--spacing-4) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-3);
}

.global-wrapper[data-is-root-path="true"] .bio {
  padding: var(--spacing-8) var(--spacing-0);
}

//padding: var(--spacing-6) var(--spacing-0);

.global-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--spacing-12);
  margin-top: var(--spacing-12);
}

.main-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  aling-items: end;
  font-size: var(--fontSize-7);
  margin: 0;
  padding: var(--spacing-0) var(--spacing-3);
}

.p-2 {
  margin-top: var(--spacing-6);
  color: black;
  padding: 12px;
}

.p-2 h5 {
  margin-top: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  gap: 24px;
  color: var(--color-text-light);
}

.navigation p {
  font-size: var(--fontSize-1);
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-6) var(--spacing-0);
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-4);
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 200ms all;
}

.post-list-item:hover {
  background-color: #f5f5f5;
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item a {
  color: var(--color-black);
  underline: none;
  text-decoration: none;
}

.post-list-item h2 {
  font-size: var(--fontSize-2);
  //color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item small {
  color: var(--color-text-light);
}

.post-list-item header {
  margin-bottom: var(--spacing-1);
}

.post-list-item header p {
  color: black;
}

.post-list-item a section p {
  font-family: var(--fontFamily-Serif);
  font-style: italic;
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.projects {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 5rem;
}

.project-header h5 {
  margin-bottom: 0rem;
}

.project-header h5 small {
  font-size: 1rem;
  font-weight: var(--fontWeight-normal);
}

.project-labels {
  margin: 0.5rem 0rem 0.5rem 0rem;
  display: flex;
  fles-direction: row;
  gap: 4px;
}

.project-label {
  background-color: #f5f5f5;
  color: rgb(64 64 64);
  padding: 2px 5px 2px 5px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: var(--fontWeight-thin);
  font-size: var(--fontSize-0);
}

.project-label::selection {
  background-color: #f5f5f5;
}

.project-subtitle {
  margin-top: 1.5rem;
  font-weight: var(--fontWeight-thin);
  font-size: var(--fontSize-1);
  //font-style: italic;
  text-decoration: underline;
}

.project-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
}

.project-image {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  width: 100%;
  border-radius: 2%;
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
  min-width: fit-content;
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}
/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
